body{
  background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
  margin:0px;
  font-family: 'Ubuntu', sans-serif;
  /* background-size: 100% 110%; */
  object-fit: cover;
}

.img-loc{
  /* float: left;
  width: 300px;
  
  padding: 10px;

  margin:auto; */

  margin: 0px 0px 0px 20px;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.jumby{
  margin-bottom: 50px;
  background-color: royalblue;
  height: 240px;
  margin: 0px 0px 370px 0px;
}

p {
  width: 200px;
  margin: 0px 0px 0px 20px;
  /* align-content: center; */

  position: 20px 20px 20px 20px;
  left: 0;
  /* top: 50%; */
  width: 100%;
  text-align: center;
  font-size: 18px;
}