body {
  background: url(../image/50\ Shades\ of\ Grey.jpg);
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  /* background-size: 100% 110%; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.col-md-3{
  height: 125px;
}
.img-loc{
  /* float: left;
  width: 300px;
  
  padding: 10px;

  margin:auto; */
  position: 10px;
  margin: 0px 0px 0px 20px;
  top: 8px;
  left: 16px;
  font-size: 18px;
  height: 125px;
  width: 200px;
}
row{
  height: 125px;
  object-position: 5px 100%;
}

.jumby{
  margin-bottom: 50px;
  background-color: black;
  height: 131px;
  
  border-top: 6px solid yellow;
}


.div2{
  height: 125;
  object-position: 5px 100%;
}

p {
  
  width: 0px;
  margin: 0px 0px 0px 0px;
  /* align-content: center; */

  position: 20px 20px 20px 20px;
  left: 0;
  /* top: 50%; */

  position: 10px;
  font-size: 60px;
}
.ul1{
  position: 10px;
  
  margin: 0px 0px 0px 20px;
  top: 8px;
  left: -15px;
  font-size: 18px;
}

ul{
  width: 681px;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  height: 83px;
  margin: 83px 0px 0px 0px;
}

.logo{
  width: 200px;
  text-align: center;
  margin: 0px 0px 400px 0px;
}

a:link, a:visited {


  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  text-decoration-color: white;
  color: purple;
}

.row1{
  height: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  /* text-align: center; */
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.signup {
  margin:0 auto;
  max-width:500px;
}
.signup-header {
  color:#fff;
  text-align:center;
  font-size:300%;
}
/* .signup-header h1 {
   text-shadow: 0px 5px 15px #000; */

.signup-form {
  
}
.signup-form h3 {
  text-align:left;
  margin-left:40px;
  color:#fff;
}
.signup-form {
  box-sizing:border-box;
  padding-top:15px;
	padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}
.signup input[type="text"],
.signup input[type="password"] {
  max-width:400px;
	width: 80%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 2em;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
.signup-form input[type="button"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}
.sign-up{
  color:#f2f2f2;
  margin-left:-70%;
  cursor:pointer;
  text-decoration:underline;
}
.no-access {
  color:#E86850;
  margin:20px 0px 20px -57%;
  text-decoration:underline;
  cursor:pointer;
}
.try-again {
  color:#f2f2f2;
  text-decoration:underline;
  cursor:pointer;
}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px){
  .signup-form h3 {
    text-align:center;
    margin:0;
  }
  .sign-up, .no-access {
    margin:10px 0;
  }
  .signup-button {
    margin-bottom:10px;
  }
}